<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="./fontawesome-free-6.1.1-web/css/all.css">
  <!-- CSS only -->
  <link rel="stylesheet" href="./bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOGIN</title>
</head>

<body>
  <div class="col-md-12">
    <div class="row">
      <nav class="navbar bg-dark fixed-top">
        <div class="container-fluid">

          <button class=" btn btn-outline-warning" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="text-light">INGRESAR</span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title mx-auto" id="offcanvasNavbarLabel">Inico/Registro</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Usuario:</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="123@#Aa.,">
              </div>


              <form class="d-flex" role="search">
                <a href="./paginaPrincipal.html" class="mx-auto"><button type="button"
                    class="btn btn-outline-success ">ENTRAR</button></a>
              </form>
            </div>
          </div>
        </div>
      </nav>
    </div>

  </div>




  <!-- JavaScript Bundle with Popper -->
  <script src="./bootstrap-5.2.0-beta1-dist/js/bootstrap.min.js"></script>
    <script src="./fontawesome-free-6.1.1-web/js/all.js"></script>
</body>

</html>
